{#
/**
 * Default Page
 *
 * This is the template that displays the Default Page.
 */
#}
{% extends "layouts/main.twig" %}

{% block content %}
	<div class="view-content">
    {{post.content}}
	</div><!-- /view-content -->
{% endblock %}
