{#
/**
 * Default Page
 *
 * This is the template that displays the Default Page.
 */
#}

{% set main_menu = 'primary-business' %}

{% extends "layouts/main.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="page-title d-none">{{post.title}}</h1>
				<div class="article-body {% if post.animate_blocks %}animate-blocks{% endif %}">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
